*{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 1.1rem;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: blue;
}

a{
    color: white;
    background-color: blue;
}

a:hover{
    border: 1px solid;
    color: purple;
}

ul{
    display: flex;
    list-style-type: none;
    color: white;
    background-color: blue;
    gap: 4px;
}

h1{
    color: white;
    font-size: 30px;
}

h2{
    color: blue;
}

h3{
    color: blue;
}

.about{
    margin: 15px;
    color: black;
}

.projets{
    color: black;
    background-color: rgb(190, 188, 188);
    border-radius: 1%;
    margin: 1px;
    padding: 4px;
}

.project-grid{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: 1fr;
    grid-column: auto;
    gap: 15px;
    margin: 2px;
    padding: 15px;
    color: black;
}

.projet{
    color: black;
    background-color: rgb(220, 215, 215);
    gap: 5px;
    border-radius: 5%;
    padding: 4px;
    margin: 0px;
}

footer{
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}